<section class="chronicle section">
  <div class="chronicle-container container">
    <div class="chronicle-body">
      <div class="chronicle-header heading">
        <img class="heading-aside" src="../../img/heading/headingLine_left.webp" />
        <div class="heading-center">
          <span class="heading-label">
            the chronicle
          </span>
          <span class="heading-title">
            dusk project
          </span>
        </div>
        <img class="heading-aside" src="../../img/heading/hadingLine_right.png" />
      </div>
      <div class="chronicle-inner">
        <article class="chronicle-article">
          <div class="chronicle-image">
            <img src="../../img/chronicleImage.webp" alt="image">
          </div>
          <div class="chronicle-info">
            <h3 class="chronicle-title heading-title">an improved game ui</h3>
            <p class="chronicle-content">
              that delivers a smoother and more immersive gaming experience, packed with major updates redefining your adventures in Lineage 2.
            </p>
            <a href="#" target="_blank" class="button button-large button--orange">
              <span>read more</span>
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
