<section class="communication section">
  <div class="communication-container container">
    <div class="communication-body">
      <div class="communication-header heading">
        <img class="heading-aside" src="../../img/heading/headingLine_left.webp" />
        <div class="heading-center">
          <span class="heading-label">
            communication
          </span>
          <span class="heading-title">
            project community
          </span>
        </div>
        <img class="heading-aside" src="../../img/heading/hadingLine_right.png" />
      </div>
      <div class="communication-row">
        <div class="communication-block">
          <div class="communication-block__inner">
            <span class="communication-title">
              topic forum
            </span>
            <ul class="communication-list">
              <li class="communication-item">
                <div class="communication-item__bullet">
                  <img src="../../img/bulletIcon.png" alt="bullet">
                </div>
                <span class="communication-item__title">Зарплата + Акция для лучших кланов...
                </span>
                <span class="communication-item__date">
                  26.10.2023
                </span>
              </li>
              <li class="communication-item">
                <div class="communication-item__bullet">
                  <img src="../../img/bulletIcon.png" alt="bullet">
                </div>
                <span class="communication-item__title">Зарплата + Акция для лучших кланов...
                </span>
                <span class="communication-item__date">
                  26.10.2023
                </span>
              </li>
              <li class="communication-item">
                <div class="communication-item__bullet">
                  <img src="../../img/bulletIcon.png" alt="bullet">
                </div>
                <span class="communication-item__title">Зарплата + Акция для лучших кланов...
                </span>
                <span class="communication-item__date">
                  26.10.2023
                </span>
              </li>
              <li class="communication-item">
                <div class="communication-item__bullet">
                  <img src="../../img/bulletIcon.png" alt="bullet">
                </div>
                <span class="communication-item__title">Зарплата + Акция для лучших кланов...
                </span>
                <span class="communication-item__date">
                  26.10.2023
                </span>
              </li>
              <li class="communication-item">
                <div class="communication-item__bullet">
                  <img src="../../img/bulletIcon.png" alt="bullet">
                </div>
                <span class="communication-item__title">Зарплата + Акция для лучших кланов...
                </span>
                <span class="communication-item__date">
                  26.10.2023
                </span>
              </li>
              <li class="communication-item">
                <div class="communication-item__bullet">
                  <img src="../../img/bulletIcon.png" alt="bullet">
                </div>
                <span class="communication-item__title">Зарплата + Акция для лучших кланов...
                </span>
                <span class="communication-item__date">
                  26.10.2023
                </span>
              </li>
            </ul>
            <a href="#" target="_blank" class="communication-link button button--gray">
              to the forum
            </a>
          </div>
        </div>
        <div class="communication-block">
          <img class="communication-block_discord" src="../../img/discordMocked.webp" alt="discordMocked">
          <a href="#" target="_blank" class="communication-link button button--purple">
            to discord
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
