<section class="faq section">
  <div class="faq-container container">
    <div class="faq-body">
      <div class="faq-header">
        <div class="faq-heading heading">
          <div class="heading-center">
            <span class="heading-label">
              faq project
            </span>
            <span class="heading-title">
              game info
            </span>
          </div>
          <img class="heading-aside" src="../../img/heading/hadingLine_right.png" />
        </div>
      </div>
      <div class="faq-inner swiper">
        <ul class="faq-list swiper-wrapper">
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_first.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  enhanced
                </span>
                <span class="faq-item__title">exp rates</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  Progress faster with optimized leveling!
                </span>
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_second.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  Prime Time
                </span>
                <span class="faq-item__title"> BIG & MID</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  Experience the thrill of the new Prime system,
                </span>
                with 4 weekly days to face off against the best clans and players.
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_third.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  In-Game Shop for
                </span>
                <span class="faq-item__title">BALANCE</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  We believe
                </span>
                in a fair marketplace, where every player can choose what's best for themselves and their community.
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_fourth.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  News Updates
                </span>
                <span class="faq-item__title">CLASS BALANCE</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  Drawing from past experience,
                </span>
                we offer the most balanced skill system for all classes.
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_first.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  enhanced
                </span>
                <span class="faq-item__title">exp rates</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  Progress faster with optimized leveling!
                </span>
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_second.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  Prime Time
                </span>
                <span class="faq-item__title"> BIG & MID</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  Experience the thrill of the new Prime system,
                </span>
                with 4 weekly days to face off against the best clans and players.
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_third.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  In-Game Shop for
                </span>
                <span class="faq-item__title">BALANCE</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  We believe
                </span>
                in a fair marketplace, where every player can choose what's best for themselves and their community.
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
          <li class="faq-item swiper-slide">
            <img class="faq-item__image" src="../../img/faq/faqBlockBanner_fourth.png"/>
            <div class="faq-item__content">
              <div class="faq-item__header">
                <span class="faq-item__label">
                  News Updates
                </span>
                <span class="faq-item__title">CLASS BALANCE</span>
              </div>
              <p class="faq-item__info">
                <span class="faq-item__info--hl">
                  Drawing from past experience,
                </span>
                we offer the most balanced skill system for all classes.
              </p>
              <a href="#" class="faq-item__button button button--small button--transparent">
                read more
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="faq-controls">
        <button class="faq-controls__btn faq-controls__btn--prev">
          <img src="../../img/sliderArrow.png" alt="arrow">
        </button>
        <button class="faq-controls__btn faq-controls__btn--next">
          <img src="../../img/sliderArrow.png" alt="arrow">
        </button>
      </div>
    </div>
  </div>
</section>
