<section class="home">
  <div class="home-container container">
    <div class="home-body">
      <div class="home-counter counter">
        <ul class="counter-digits">
          <li class="counter-unit">
            <div class="counter-number">00</div>
            <span class="counter-label">
              days
            </span>
          </li>
          <li class="counter-unit">
            <div class="counter-number">23</div>
            <span class="counter-label">
              hours
            </span>
          </li>
          <li class="counter-unit">
            <div class="counter-number">18</div>
            <span class="counter-label">
              min
            </span>
          </li>
          <li class="counter-unit">
            <div class="counter-number">60</div>
            <span class="counter-label">
              sec
            </span>
          </li>
        </ul>
      </div>
      <div class="home-content">
        <img class="home-logo" src="../../img/logo.webp" alt="logo">
        <h1 class="home-title">Start the journey</h1>
        <img class="home-divider" src="../../img/homeDivider.png" alt="divider">
        <p class="home-description">
          Enter the Shield of the Kingdom Chronicle Server, where the core essence of Lineage 2 meets modern innovations. Enjoy iconic features like Share Location, Party Request, a Command Channel Rework, and a Class Balance tailored to the game’s current needs. Get ready for the ultimate experience!
        </p>
        <a href="#" class="home-buttton button button--red">
          <span>start game</span>
        </a>
      </div>
    </div>
  </div>
</section>
