<section class="news section">
  <div class="news-container container">
    <div class="news-body">
      <div class="news-header heading">
        <img class="heading-aside" src="../../img/heading/headingLine_left.webp" />
        <div class="heading-center">
          <span class="heading-label">
            last news
          </span>
          <span class="heading-title">
            latest project news
          </span>
        </div>
        <img class="heading-aside" src="../../img/heading/hadingLine_right.png" />
      </div>
      <div class="news-filter">
        <button class="news-filter__btn button button--small button--purple">
          all
        </button>
        <button class="news-filter__btn button button--small button--transparent">
          news
        </button>
        <button class="news-filter__btn button button--small button--transparent">
          events
        </button>
      </div>
      <div class="news-divider">
        <img src="../../img/newsDivider.png" alt="divider">
      </div>
      <div class="news-content news-content--all fade-in">
        <div class="news-slider swiper">
          <ul class="news-list swiper-wrapper">
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_first.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      news
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Let the knights raise their shields! Shield of the Kingdom has arrived.
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_second.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      events
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The highly anticipated General
                  Class Balance is here!
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_third.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The legendary Red Libra event
                  returns with an exciting rework
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_fourth.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Discover the groundbreaking Stages System
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_first.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      news
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Let the knights raise their shields! Shield of the Kingdom has arrived.
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_second.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      events
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The highly anticipated General
                  Class Balance is here!
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_third.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The legendary Red Libra event
                  returns with an exciting rework
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_fourth.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Discover the groundbreaking Stages System
                </p>
              </div>
            </a>
          </ul>
        </div>
        <div class="news-controls">
          <button class="news-controls__btn news-controls__btn--prev">
            <img src="../../img/sliderArrow.png" alt="arrow">
          </button>
          <a href="#" target="_blank" class="news-controls__link button button--blue">
            all news
          </a>
          <button class="news-controls__btn news-controls__btn--next">
            <img src="../../img/sliderArrow.png" alt="arrow">
          </button>
        </div>
      </div>
      <div class="news-content news-content--news">
        <div class="news-slider swiper">
          <ul class="news-list swiper-wrapper">
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_first.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      news
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Let the knights raise their shields! Shield of the Kingdom has arrived.
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_second.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      events
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The highly anticipated General
                  Class Balance is here!
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_third.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The legendary Red Libra event
                  returns with an exciting rework
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_fourth.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Discover the groundbreaking Stages System
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_first.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      news
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Let the knights raise their shields! Shield of the Kingdom has arrived.
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_second.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      events
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The highly anticipated General
                  Class Balance is here!
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_third.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The legendary Red Libra event
                  returns with an exciting rework
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_fourth.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Discover the groundbreaking Stages System
                </p>
              </div>
            </a>
          </ul>
        </div>
        <div class="news-controls">
          <button class="news-controls__btn news-controls__btn--prev">
            <img src="../../img/sliderArrow.png" alt="arrow">
          </button>
          <a href="#" target="_blank" class="button button--blue">
            all news
          </a>
          <button class="news-controls__btn news-controls__btn--next">
            <img src="../../img/sliderArrow.png" alt="arrow">
          </button>
        </div>
      </div>
      <div class="news-content news-content--events">
        <div class="news-slider swiper">
          <ul class="news-list swiper-wrapper">
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_first.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      news
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Let the knights raise their shields! Shield of the Kingdom has arrived.
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_second.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      events
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The highly anticipated General
                  Class Balance is here!
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_third.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The legendary Red Libra event
                  returns with an exciting rework
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_fourth.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Discover the groundbreaking Stages System
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_first.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      news
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Let the knights raise their shields! Shield of the Kingdom has arrived.
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_second.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      events
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The highly anticipated General
                  Class Balance is here!
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_third.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  The legendary Red Libra event
                  returns with an exciting rework
                </p>
              </div>
            </a>
            <a href="#" class="news-item swiper-slide">
              <div class="news-item__banner">
                <img src="../../img/news/newsBlock_fourth.webp" alt="banner">
              </div>
              <div class="news-item__info">
                <div class="news-item__header">
                  <div class="news-item__label">
                    <img class="news-item__bullet" src="../../img/bulletIcon.png" alt="bullet">
                    <span class="news-item__title">
                      stocks
                    </span>
                  </div>
                  <span class="news-item__date">
                    30.08.2023
                  </span>
                </div>
                <p class="news-item__description">
                  Discover the groundbreaking Stages System
                </p>
              </div>
            </a>
          </ul>
        </div>
        <div class="news-controls">
          <button class="news-controls__btn news-controls__btn--prev">
            <img src="../../img/sliderArrow.png" alt="arrow">
          </button>
          <a href="#" target="_blank" class="button button--blue">
            all news
          </a>
          <button class="news-controls__btn news-controls__btn--next">
            <img src="../../img/sliderArrow.png" alt="arrow">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
