<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-col">
        <div class="footer-copy">
          2025 © Dusk Servers - All rights reserved
        </div>
      </div>
      <div class="footer-col">
        <a href="#" dofollow="" title="Website development / разработка сайта UNSIMPLE WORLD" target="https://unsimpleworld.com/" class="footer-logo">
          <svg class="footer-logo__icon">
            <use href='img/sprite/sprite.svg#unsimple-logo'></use>
          </svg>
          <p class="footer-logo__inner">
            <span class="footer-logo__header">Developed by</span>
            <span class="footer-logo__bottom">unsimple world</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</footer>
