<header class="header">
  <div class="header-container container">
    <div class="header-body header-body_adaptive">
      <div class="header-logo">
        <img src="../img/headerLogo.png" alt="logo">
      </div>
      <button class="header-menu">
        <img src="../img/burgerIcon.svg" alt="icon">
      </button>
    </div>
    <div class="header-body header-body_desktop">
      <div class="header-close">
        <span></span>
        <span></span>
      </div>
      <div class="header-row">
        <div class="header-logo">
          <img src="../img/headerLogo.png" alt="logo">
        </div>
        <nav class="nav">
          <ul class="nav-links">
            <li>
              <a href="#" class="nav-link">home</a>
            </li>
            <li>
              <div class="nav-dropdown">
                <div class="nav-dropdown__flex">
                  features <img src="../img/arrowBottom.png" alt="arrow">
                </div>
                <div class="nav-dropdown__hidden">
                  <ul class="nav-dropdown__links">
                    <a href="#" class="nav-dropdown__link">
                      Link
                    </a>
                    <a href="#" class="nav-dropdown__link">
                      Link
                    </a>
                    <a href="#" class="nav-dropdown__link">
                      Link
                    </a>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="#" class="nav-link">about chronicle</a>
            </li>
            <li>
              <a href="#" class="nav-link">discord</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-aside">
        <div class="header-server">
          <span class="header-server__name">diamond x2</span>
          <div class="header-server__block">
            <span>1582</span>
          </div>
        </div>
        <div class="header-lang">
          <div class="header-selected">
            <div class="header-selected__icon">
              <img src="../img/flags/eng_flag.png" alt="flag">
            </div>
            <span class="header-selected__lang">En</span>
            <img class="header-selected__arrow" src="../img/arrowBottom.png" alt="arrow">
          </div>
          <div class="header-lang__hidden">
            <ul class="header-langs">
              <li class="header-langs__item header-langs__item--selected">
                <span>English</span>
                <img src="../img/flags/eng_flag.png" alt="flag">
              </li>
              <li class="header-langs__item">
                <span>Portugues</span>
                <img src="../img/flags/port-flag.png" alt="flag">
              </li>
              <li class="header-langs__item">
                <span>Español</span>
                <img src="../img/flags/mex_flag.png" alt="flag">
              </li>
            </ul>
          </div>
        </div>
        <button class="header-login button button--purple button--small">
          sign in
        </button>
      </div>
    </div>
  </div>
</header>
