<header class="header">
  <div class="header-container container">
    <div class="header-body">
      <div class="header-row">
        <div class="header-logo">
          <img src="../img/headerLogo.png" alt="logo">
        </div>
        <nav class="nav">
          <ul class="nav-links">
            <li>
              <a href="#" class="nav-link">home</a>
            </li>
            <li>
              <a href="#" class="nav-link">features</a>
            </li>
            <li>
              <a href="#" class="nav-link">about chronicle</a>
            </li>
            <li>
              <a href="#" class="nav-link">discord</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-aside">
        <div class="header-server">
          <span class="header-server__name">diamond x2</span>
          <div class="header-server__block">
            <span>1582</span>
          </div>
        </div>
        <div class="header-lang"></div>
        <button class="header-login button button--purple button--small">
          sign in
        </button>
      </div>
    </div>
  </div>
</header>
